version: "3"

services:
  prom-server:
    image: prom/prometheus
    ports:
      - 9090:9090
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus

  grafana:
    image: grafana/grafana
    ports:
      - 8000:3000
    environment:
      GF_SECURITY_ADMIN_PASSWORD: "admin"  # Set a password for Grafana admin G$9vXq!dT2@zNpL7
    volumes:
      - grafana-data:/var/lib/grafana
    depends_on:
      - prom-server
      - loki

  loki:
    image: grafana/loki
    ports:
      - 8001:3100
    command: -config.file=/etc/loki/local-config.yaml
    volumes:
      - loki-data:/loki

volumes:
  grafana-data:
  prometheus-data:
  loki-data:
